*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #31323b;
}
.containeur{
    position: relative;
    width: 380px;
    height: 420PX;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
}

.container::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,rgb(49, 80, 255),rgb(35, 124, 240));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    
}.container::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,rgb(49, 80, 255),rgb(35, 124, 240));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: 3s;
}
@keyframes animate{
    100%{
         transform: rotate(360deg);
    }
   
}
.form{
    position: absolute;
    inset:3px;
    border-radius:8px;
    background: #252c3b;
    z-index: 10;
    padding: 50PX 40PX;
    display: flex;
    flex-direction: column;


}
.form h2{
    text-align: center;
    color:rgb(35, 124, 240);
}
.inputbox{
    position:relative;
    width:300px;
    margin-top:35px;
}
.inputbox input{
    width: 100%;
    background: transparent;
    border-color: rgb(35, 124, 240);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: rgb(35, 124, 240);
    font-size: 20px;
    padding: 20px 10px 10px;
}
.inputbox input::placeholder{
    color:rgb(35, 124, 240);
}
button{
    border:1px solid white;
    background: rgb(35, 124, 240);
    color: white;
    cursor: pointer;
    margin-top: 50px;
    width: 100%;
    padding: 15px 10px 10px;
    font-size: 20px;
    border-radius: 10px;
}
